<div class="container"> 
    <div class="row justify-content-around">
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">
            <h4 style="font-weight: bold">Planifier sa semaine</h4> 
           </div>
       <!-- <img [src]="ImagePathWeek" class="classecard mx-auto" alt="...">-->
        <div class="card-body mx-auto">
                <p class="card-text">Visibilité sur les 7 prochains jours</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-center h-100">
        <div class="card-header">
            <h4 style="font-weight: bold">Atteindre ses objectifs</h4> 
           </div>
       <!-- <img [src]="ImagePathTrophy" class="classecard mx-auto" alt="...">-->
        <div class="card-body mx-auto">
          <p class="card-text">Priorisation des tâches</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">
            <h4 style="font-weight: bold">Analyser sa productivité</h4> 
           </div>
       <!-- <img [src]="ImagePathStats" class="card-img-top" alt="...">-->
      <!-- <img [src]="ImagePathStats" class="classecard mx-auto" alt="...">-->
        <div class="card-body mx-auto">
          <p class="card-text">Visualiser le travail accompli</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
<p>homepage-feature-card-list works!</p>
